@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: 'flex';
  /* background-image: url('./assets/background1.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: fixed; */
  background-color: #1c1d1f;
  background-position: center;
  background-size: cover;
  color: black;
}

video{
    margin-top: -600px;
}